<div class="flex flex-col h-screen  w-full">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-4 sm:py-2 sm:px-2 border-b bg-card h-16 :bg-transparent">
        <div class="flex-1 ">
            <div class="flex mt-2  items-center font-medium">
                <div>
                    <a class=" whitespace-nowrap text-primary-500">Masters</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-4 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1  text-primary-500">User Creation</a>
                </div>
            </div>
            <div>
                <div class="flex items-center">


                    <h2
                        class="text-2xl font-semibold tracking-tight leading-7 md:leading-snug truncate ng-star-inserted">
                        User Creation
                    </h2>

                </div>

            </div>
        </div>


        <div>
            <div *ngIf="addCancelButtonFlag" class="my-3 mr-4 flex justify-end" style="font-size: 17px;">
                <!-- <button id="btnAudit" name="btnAudit"  (click)="confirmAuditDialog(AuditLog)"
                mat-raised-button class="btn-colorAdd mr-4"> <mat-icon
                    [svgIcon]="'heroicons_outline:link'"></mat-icon>Audit Logs</button> -->
                
                <button id="btnAdd" name="btnAdd" (click)="matDrawer.toggle(isDrawer('open'))" mat-raised-button
                    class="btn-colorAdd"> <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>Add New
                    User</button>
            </div>
            <div *ngIf="!addCancelButtonFlag" class="flex items-center justify-end border-t px-8 py-5 ">
                <button *ngIf="saveUpdateBtn" id="btnSave" name="btnSave"
                    class=" bg-green-700 text-white  mr-2 btn-no-border-R w-1/2"
                    (click)="confirmSaveDialog(userSavePopUp)" mat-raised-button><mat-icon class="icon-size-4"
                        svgIcon="heroicons_solid:save"></mat-icon>Submit</button>

                <button *ngIf="!saveUpdateBtn" id="btnSave" name="btnSave" class=" greenClass mr-2 btn-no-border-R"
                    (click)="confirmUpdateDialog(updateUpdatePopUp)" mat-raised-button><mat-icon
                        svgIcon="heroicons_solid:save"></mat-icon>Update</button>


                <button class="btn-no-border-R  w-1/2" id="btnCancel" name="btnCancel"
                    style="background: #58595b;color: #fff;" mat-raised-button (click)="isDrawer('close')"><mat-icon
                        class="pr-2 " svgIcon="mat_outline:cancel"></mat-icon>Cancel</button>
            </div>
        </div>


    </div>

    <mat-drawer-container class="flex-auto ">
        <mat-drawer-content>
            <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl m-2 overflow-hidden">
                <div *ngIf="isShowTableData">
                    <div class="overflow-x-auto mx-2">
                        <table class="w-full bg-transparent mt-2" matSort mat-table [dataSource]="dataSource"
                            (matSortChange)="sortColumn($event)">
                            <ng-container matColumnDef="name">
                                <th mat-header-cell  *matHeaderCellDef class="left-heading table-header"
                                    style="    background: #0877d4; color:#fff">
                                    Name
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="pr-6 whitespace-nowrap">
                                        {{element.first_name}} {{element.last_name}}
                                    </span>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="email">
                                <th mat-header-cell  *matHeaderCellDef class="left-heading table-header"
                                    style="    background: #0877d4; color:#fff">
                                    Email
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span
                                            class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                            [ngClass]="{'bg-blue-200 text-blue-800 dark:bg-blue-600 dark:text-blue-50':  element.email != ''
                                                                }">
                                            <span class="leading-relaxed whitespace-nowrap">{{element.email}}</span>
                                        </span>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="role">
                                <th mat-header-cell  *matHeaderCellDef class="left-heading table-header"
                                    style="    background: #0877d4; color:#fff">
                                    Role
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="pr-6 whitespace-nowrap">
                                        {{element.role}}
                                    </span>
                                </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="CreatedDate">
                                <th mat-header-cell  class="left-heading table-header" *matHeaderCellDef
                                    style="background: #0877d4; color:#fff ">
                                    Created Date
                                </th>

                                <td class="pr-6  whitespace-nowrap left-heading" mat-cell *matCellDef="let element">
                                    <ng-container class="pr-6 font-medium whitespace-nowrap"
                                        *ngIf="element.created_at; else noModDate">
                                        {{element.created_at | date:'mediumDate'}}
                                    </ng-container>
                                    <ng-template #noModDate>-</ng-template>
                                </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="IsActive">
                                <th mat-header-cell  class="left-heading table-header" *matHeaderCellDef
                                    style="background: #0877d4; color:#fff ">
                                    Is Active
                                </th>
                                <td mat-cell *matCellDef="let element" class="left-heading">
                                    <span *ngIf="element.is_active"
                                        class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                        [ngClass]="{
                                                        'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': element.is_active == true}">
                                        {{element.is_active}}
                                    </span>
                                    <span *ngIf="!element.is_active"
                                        class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                        [ngClass]="{
                                                        'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': element.is_active == false}">
                                        {{element.is_active}}
                                    </span>
                                </td>
                            </ng-container>

                            

                           

                            


                            <ng-container matColumnDef="action">
                                <th mat-header-cell mat-sort-header class="left-heading table-header" *matHeaderCellDef
                                    style="    background: #0877d4; color:#fff">
                                    Action
                                </th>
                                <td mat-cell *matCellDef="let element" class="left-heading">
                                    <button 
                                            (click)="confirmDeleteDialog(budgetDeletePopUp,element._id)" id="btnDelete"
                                            name="btnDelete" mat-button> <mat-icon mat-button svgIcon="mat_solid:delete"
                                                class=" mr-3 icon-size-6 text-red-500 mat-icon-no-color ng-star-inserted"></mat-icon>
                                        </button>
                                    <!-- <button mat-icon-button [matMenuTriggerFor]="menu"
                                        style="display: flex; align-items: center;">
                                        <mat-icon
                                            style="transform: rotate(90deg); color: rgb(219, 119, 26);">more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">

                                        <button  (click)="onEdit(element._id)" id="btnEdit"
                                            name="btnEdit" mat-button> <mat-icon svgIcon="heroicons_solid:pencil-alt"
                                                class=" mr-3 icon-size-6 text-blue-500 mat-icon-no-color ng-star-inserted"></mat-icon>Edit
                                        </button>
                                        <br>
                                        <button *ngIf="element.IsActive"
                                            (click)="confirmDeleteDialog(budgetDeletePopUp,element._id)" id="btnDelete"
                                            name="btnDelete" mat-button> <mat-icon mat-button svgIcon="mat_solid:delete"
                                                class=" mr-3 icon-size-6 text-red-500 mat-icon-no-color ng-star-inserted"></mat-icon>Delete
                                        </button>

                                        <button *ngIf="!element.IsActive" (click)="onRecover(element._id)"
                                            id="btnRecover" name="btnRecover" mat-button>
                                            <mat-icon mat-button svgIcon="mat_solid:autorenew"
                                                class=" mr-3 icon-size-6 text-green-500 mat-icon-no-color ng-star-inserted"></mat-icon>Recover
                                        </button>
                                        <br>
                                        

                                    </mat-menu> -->
                                </td>
                            </ng-container>




                            <tr mat-header-row *matHeaderRowDef="createUserHeader"></tr>
                            <tr class="order-row h-16" mat-row
                                *matRowDef="let row; columns: createUserHeader;">
                            </tr>

                        </table>
                    </div>
                    <div>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                            aria-label="Select page of periodic elements" name="associalteClientPagination"
                            id="associalteClientPagination" class="flex-auto gt-xs:pl-3 mr-2 paginationleft-responsive">
                        </mat-paginator>
                    </div>
                </div>
            </div>

            <div *ngIf="!isShowTableData">
                <div>
                    <div style="display: flex; justify-content: center;">
                        <img id="bouncy-image" style="width: 400px;" src="assets/images/cards/NDF.png" alt="">
                    </div>
                    <div class="NDFALign">
                        <p style="    color: #7684f1;
                        font-weight: 900;
                        font-size: 22px;">No Data Found</p>
                    </div>
                </div>

            </div>
        </mat-drawer-content>

        <mat-drawer class="dark:bg-gray-900 custom-width-drawer" [position]="'end'" [disableClose]="true" #matDrawer>

            <form class="flex flex-col m-4 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden"
                [formGroup]="CreateUserForm" #budgetControlMaster="ngForm">


                <div class="flex gt-xs:flex-col  mb-1">
                    <div class="flex gt-xs:flex-row  w-full mr-2 ">
                        <mat-form-field appearance="outline" class="flex-auto ">
                            <mat-label>First Name</mat-label>
                            <input matInput type="text" placeholder="First Name" required
                                (keyup)="alphabetsAndSpaceOnly($event)" formControlName="firstName">
                            <mat-icon matSuffix class="mb-2" [svgIcon]="'heroicons_solid:user'"></mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="flex gt-xs:flex-row w-full ">
                        <mat-form-field appearance="outline" class="flex-auto ">
                            <mat-label>Last Name</mat-label>
                            <input matInput type="text" placeholder="Last Name" required
                                (keypress)="alphabetsAndSpaceOnly($event)" formControlName="lastName">
                            <mat-icon matSuffix class="mb-2" [svgIcon]="'heroicons_solid:user'"></mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex gt-xs:flex-col  mb-1">
                    <div class="flex gt-xs:flex-col w-full">
                        <mat-form-field appearance="outline" class="flex-auto inp-H w-full ">
                            <mat-label class="lableSize">Email</mat-label>
                            <input id="txtEmail" name="txtEmail" formControlName="email"
                                class="placeHolderSize custom-input" matInput>
                            <mat-icon class="mb-2" matSuffix svgIcon="mat_solid:email"></mat-icon>
                            <!-- <mat-error *ngIf="userCreationForm.get('email').errors?.required">Email is required</mat-error> -->
                            <mat-error *ngIf="CreateUserForm.get('email').errors?.pattern">Invalid email
                                format</mat-error>
                        </mat-form-field>
                    </div>

                </div>
                <div class="flex gt-xs:flex-col  mb-1">
                    <div class="flex gt-xs:flex-col w-1/2 inputHeight mr-2 custom-mat-field">
                        <mat-form-field appearance="outline" class="flex-auto inp-H w-full ">
                            <mat-label class="lableSize">Password</mat-label>
                            <input id="txtPassword" name="txtPassword" formControlName="password"
                                class="placeHolderSize custom-input" matInput
                                [type]="hidePassword ? 'password' : 'text'" (keyup)="validatePassword($event)">
                            <mat-icon matSuffix (click)="togglePasswordVisibility()">
                                {{ hidePassword ? 'visibility_off' : 'visibility' }}
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="flex gt-xs:flex-col w-1/2 inputHeight  custom-mat-field">
                        <mat-form-field appearance="outline" class="flex-auto inp-H w-full ">
                            <mat-label class="lableSize">Confirm Password</mat-label>
                            <input (keyup)="checkConfirmPassword()" id="txtConfirmPassword" name="txtConfirmPassword"
                                formControlName="confirmPassword" class="placeHolderSize custom-input" matInput
                                [type]="hideConfirmPassword ? 'password' : 'text'">
                            <mat-icon matSuffix (click)="toggleConfirmPassword()">
                                {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}
                            </mat-icon>
                        </mat-form-field>
                    </div>

                </div>
                <div class="flex gt-xs:flex-row flex-wrap mb-2 px-2">
                    <div *ngIf="isShowErrorMsg">
                        <span class="iconLabel">
                            <mat-icon *ngIf="isCheckUpperCase" class="icon-size-5 text-green-500 mb-2  text-sm"
                                svgIcon="heroicons_outline:check-circle"></mat-icon>
                            <mat-icon *ngIf="!isCheckUpperCase"
                                class="icon-size-5 text-red-500 mb-2 text-sm">highlight_off</mat-icon>Capital
                            Letter,
                        </span>
                        <span class="iconLabel">
                            <mat-icon *ngIf="isCheckSpecialChar" class="icon-size-5 text-green-500 mb-2 text-sm"
                                svgIcon="heroicons_outline:check-circle"></mat-icon><mat-icon
                                *ngIf="!isCheckSpecialChar"
                                class="icon-size-5 text-red-500 mb-2 text-sm">highlight_off</mat-icon>Special
                            Characters,</span>
                        <span class="iconLabel">
                            <mat-icon *ngIf="isCheckNum" class="icon-size-5 text-green-500 mb-2 text-sm"
                                svgIcon="heroicons_outline:check-circle"></mat-icon><mat-icon *ngIf="!isCheckNum"
                                class="icon-size-5 text-red-500 mb-2 text-sm">highlight_off</mat-icon>Numbers</span>
                        <span class="iconLabel">
                            <mat-icon *ngIf="isMaxLength" class="icon-size-5 text-green-500 mb-2  text-sm"
                                svgIcon="heroicons_outline:check-circle"></mat-icon><mat-icon *ngIf="!isMaxLength"
                                class="icon-size-5 text-red-500 mb-2 text-sm">highlight_off</mat-icon>Length
                            Between 8-15</span>
                    </div>

                    <div class="flex gt-xs:flex-row flex-wrap mb-2  px-2" *ngIf="!isShowPasswordMatch">
                        <mat-error>Password Does not match</mat-error>
                    </div>

                </div>

                <div class="flex gt-xs:flex-col  mb-1">
                    <div class="flex gt-xs:flex-col w-1/2 inputHeight mr-2 custom-mat-field">
                        <mat-form-field appearance="outline" class="flex-auto">
                            <mat-label class="lableSize">Role</mat-label>
                            <mat-select formControlName="role" class="placeHolderSize" id="ddrole" name="ddlOperator">
                                <mat-option *ngFor="let item of roleList" [value]="item.id">{{item.value}}</mat-option>
                            </mat-select>
                            <mat-icon class="mb-2" matSuffix [svgIcon]="'mat_solid:person_add'"></mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="flex gt-xs:flex-col w-1/2 inputHeight  custom-mat-field">
                        <mat-form-field appearance="outline" class="flex-auto">
                            <mat-label class="lableSize">Module</mat-label>
                            <mat-select multiple formControlName="module" class="placeHolderSize" id="ddlmaodule"
                                name="ddlOperator">
                                <mat-option *ngFor="let item of moduleList"
                                    [value]="item._id">{{item.module_name}}</mat-option>
                            </mat-select>
                            <mat-icon class="mb-2" matSuffix [svgIcon]="'mat_solid:person_add'"></mat-icon>
                        </mat-form-field>
                    </div>
                </div>

            </form>

        </mat-drawer>
    </mat-drawer-container>

    <ng-template #userSavePopUp>
        <div style="display: flex; justify-content: center;" class="mb-2">
            <img style="width: 24px;" src="assets/images/popups/roundSave.jpg" alt="">
        </div>
        <mat-dialog-content>

            <h4 style="    display: flex; justify-content: center;"><strong>Do you want to save this data?</strong></h4>
        </mat-dialog-content>
        <div class="urlconfirm ml-3" style="display: flex; justify-content: center;">

            <button mat-raised-button class="greenClass " (click)="saveAPI('save')" id="btnYes" name="btnYes">
                <mat-icon class="pr-2" svgIcon="heroicons_solid:save"></mat-icon>Yes</button>


            <button mat-raised-button (click)="CloseDialog()" class="ml-4 grayClass" id="btnNo" name="btnNo">
                <mat-icon class="pr-2 " svgIcon="mat_outline:cancel"></mat-icon>No
            </button>


        </div>
    </ng-template>

    <ng-template #budgetDeletePopUp>
        <div style="display: flex; justify-content: center;" class="mb-2">
            <img style="width: 24px;" src="assets/images/popups/deleteIcon.png" alt="">
        </div>
        <mat-dialog-content>

            <h4 style="    display: flex; justify-content: center;"><strong>Do you want to Delete this data?</strong>
            </h4>
        </mat-dialog-content>
        <div class="urlconfirm ml-3" style="display: flex; justify-content: center;">

            <button mat-raised-button class="RedClass " (click)="onDelete()" id="btnDelete" name="btnDelete">
                <mat-icon class="pr-2" svgIcon="mat_outline:delete"></mat-icon>Delete</button>


            <button mat-raised-button (click)="CloseDialog()" class="ml-4 grayClass" id="btnNo" name="btnNo">
                <mat-icon class="pr-2 " svgIcon="mat_outline:cancel"></mat-icon>No
            </button>


        </div>
    </ng-template>


    <ng-template #updateUpdatePopUp>
        <div style="display: flex; justify-content: center;" class="mb-2">
            <img style="width: 40px;" src="assets/images/updateIcon.png" alt="">
            <mat-icon style="color: #FF8C00;" svgIcon="mat_outline:tips_and_updates"></mat-icon>
        </div>
        <mat-dialog-content>

            <h4 style="    display: flex; justify-content: center;"><strong>Do you want to Update this data?</strong>
            </h4>
        </mat-dialog-content>
        <div class="urlconfirm ml-3" style="display: flex; justify-content: center;">

            <button mat-raised-button style="background: #FF8C00; color: white;" (click)="saveAPI('update')"
                id="btnYes" name="btnYes">
                <mat-icon class="pr-2 " svgIcon="mat_outline:system_update_alt"></mat-icon>Yes</button>


            <button mat-raised-button (click)="CloseDialog()" class="ml-4 grayClass" id="btnNo" name="btnNo">
                <mat-icon class="pr-2 " svgIcon="mat_outline:cancel"></mat-icon>No
            </button>


        </div>
    </ng-template>

   